.hello-kid-benefits-owl-carousel  .title  
{  
        margin-bottom: 20px;  
        padding:20px  
} 

.hello-kid-benefits-owl-carousel  .img  
{  
        height: 260px;
        width:100%  
}  

.hello-kid-benefits-owl-carousel {
    color: white
}
