.home-banner {
    /* background-color: var(--e-dark-green); */
    /* background-image: url('images/Rectangle7.png'); */
}

.home-banner-button-holder button,
.register-now button {
    background: #EC6138;
    border: 7px solid #FFCB1F;
    border-radius: 15px;
}

.home-banner .home-banner-video img {
    border-radius: 25px;
}

.homepage .meet-pooki {
    background-color: #5C5C5C
}

.meet-pookie-box {
    position: relative
}

.pooki img {
    width: 180px;
    position: absolute;
    z-index: 100;
    left: 21rem;
    top: -6rem;
}

.why-hello-kid {
    background-color: #FAEDE5;
}

.why-hello-kid .reason img {
    width: 9rem;
}


.why-hello-kid .reason {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.why-hello-kid .reason>* {
    flex: 1 1 0;
}

.register-now {
    background: var(--e-dark-green)
}

.user-feedback {
    background: var(--e-dark-yellow)
}

.why-hello-kid-title {
    color: var(--e-dark-orange);
    background: rgb(225, 205, 193, 0.6);
    border-radius: 86px;
}

.why-hello-kid-title-text {
    max-width: 70%;
    margin: 0 auto
}

.hello-kid-benefits {
    background-color: #FAEDE5;
}

.hello-kid-benefits-caroursel-holder {
    background-color: var(--e-dark-blue);
    border-radius: 100px;
}

.hello-kid-benefits-caroursel-holder h1 {
    background: var(--e-dark-orange);
    border-radius: 99px;
    color: white;
    width: 60%;
    margin: 0 auto

}