.home-banner-button-holder button,
.register-now button {
    background: var(--e-dark-orange);
    border: 7px solid var(--e-dark-yellow);
    border-radius: 15px;
}

.home-banner .home-banner-video img {
    border-radius: 25px;
}

.homepage .meet-pooki {
    background-color: #5C5C5C
}

.meet-pookie-box {
    position: relative
}

.meet-pookie-box .arrow {
    width: 50px;
    margin-right: 10px;
}


.pooki img {
    width: 180px;
    position: absolute;
    z-index: 100;
    left: 21rem;
    top: -6rem;
}

.why-hello-kid {
    background-color: var(--e-light-yellow)
}

.why-hello-kid .reason img {
    width: 9rem;
}


.why-hello-kid .reason {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.why-hello-kid .reason>* {
    flex: 1 1 0;
}

.register-now {
    background: var(--e-dark-green)
}

.user-feedback {
    background: var(--e-dark-yellow)
}

.why-hello-kid-title {
    color: var(--e-dark-orange);
    background: rgb(225, 205, 193, 0.6);
    border-radius: 86px;
}

.why-hello-kid-title-text {
    max-width: 70%;
    margin: 0 auto
}

.hello-kid-benefits {
    background-color: var(--e-light-yellow);
    position: relative;
}


.hello-kid-benefits-caroursel-holder {
    background-color: var(--e-dark-blue);
    border-radius: 100px;
    margin-left: 100px;
}


.hello-kid-benefits-caroursel-holder h1 {
    background: var(--e-dark-orange);
    border-radius: 99px;
    color: white;
    width: 40%;
    position: absolute;
    top: -28px;
    padding: 0.5rem;
}

.hello-kid-benefits-green-banner img {
    width: 70%;
}

.hello-kid-benefits-map {
    background-color: var(--e-light-yellow);
}

.hello-kid-benefits-map .hello-kid-benefits-map-background {
    width: 100%
}

.hello-kid-benefits-map {
    position: relative;
}

.hello-kid-benefits-map .hello-kid-benefits-map-components {
    position: absolute;
    top: -10px;
}

.hello-kid-benefits-map .hello-kid-benefits-map-board {
    width: 40%;
}

.hello-kid-benefits-map .hello-kid-benefits-map-pooki {
    width: 20%;
}


.hello-kid-benefits-pathway .hello-kid-benefit-pathway-img {
    width: 100%;
    z-index: 100 !important;
}

.hello-kid-levels {
    background-color: var(--e-dark-orange);
    height: 100%
}

.hello-kid-levels.level {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

.hello-kid-levels img {
    height: 10rem;
}

.hello-kid-levels button {
    width: 90%;
    border-radius: 25px;
    border: 2px solid black;
}

.hello-kid-levels .button-level-1 {
    background: #1A7F89;
}

.hello-kid-levels .hello-kid-levels-star-text-box .level-text {
    margin-right: 0 !important;
}

.hello-kid-levels .button-level-2 {
    background: #6EB40D;
}

.hello-kid-levels .button-level-3 {
    background: #01A374;
}

.hello-kid-levels .button-level-4 {
    background: #2C80E2;
    padding-top: 20px;
}

.hello-kid-levels .button-level-4 h2 {
    font-size: 1.5rem;
}

.hello-kid-levels p {
    width: 90%;
    border-radius: 30px;
}

.hello-kid-package-price {
    background-color: var(--e-dark-green);
}


.hello-kid-package-price.package {
    background-color: var(--e-light-yellow);
    border-radius: 50px;
}

.hello-kid-package-price.package .button-package {
    background: var(--e-dark-yellow);
    border: 7px solid var(--e-dark-orange);
    border-radius: 25px;
    width: 86%;
    color: black;
}

.hello-kid-package-price.package.package-active {
    background: #EC6138;
    border: 10px solid #FFFFFF;
    border-radius: 50px;
    color: white;
    position: relative
}

.hello-kid-package-price.package.package-active .button-package {
    background: #2C80E2;
    border: 7px solid #030303;
    border-radius: 25px;
}

.hello-kid-package-price.package.package-active .fav-banner p {
    background: #FFCB1F;
    border-radius: 20px;
    color: black;
    width: 80%;
    position: absolute;
    top: -20px;
    padding: 3px;
}

.hello-kid-package-price.clock {
    background: var(--e-light-yellow);
    border: 10px solid var(--e-dark-orange);
    border-radius: 40px;
    width: 35%;
    color: var(--e-dark-orange)
}

.user-feedback-content {
    display: flex;
    width: 100%;
    gap: 10px;
}

.user-feedback-content img.hello-kid-fb-photo1 {
    width: 100%;
    height: auto
}


.user-feedback-content .hello-kid-fb-text1-container {
    flex-grow: 3;
    background-size: 100% 100%;;
    background-repeat: no-repeat;
}

.hello-kid-fb-text1-content {
    gap: 2rem;
}

.user-feedback-content img.hello-kid-fb-video1 {
    width: 100%;
    height: 100%
}

