.App {
  text-align: center;
}

/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Quicksand:wght@400;600;700&display=swap'); */

.fw-600 {
  font-weight: 600
}

.fw-400 {
  font-weight: 400
}

.yellow {
  color: var(--e-dark-yellow);
}

.white {
  color: white;
}

.green {
  color: var(--e-dark-green)
}

.blue {
  color: var(--e-dark-blue);
}

.orange {
  color: var(--e-dark-orange)
}

.light-black {
  color: var(--e-light-black)
}


.bold {
  font-weight: 900 !important;
}

.plr-20 {
  padding-left: 200px;
  padding-right: 200px;
}

.plr-10 {
  padding-left: 80px;
  padding-right: 80px;
}

.ta-center {
  text-align: center
}

.ta-left {
  text-align: left
}

.ta-right {
  text-align: right
}

.mt-20 {
  margin-top: 20px;
}

.pl-10 {
  padding-left: 10px;
}

.ta-left {
  text-align: left !important;
}

button:focus,
.accordion-button:focus {
  outline: none;
  box-shadow: none !important;
}

:root {
  --e-dark-yellow: #FFCB1F;
  --e-dark-blue: #2C80E2;
  --e-dark-green: #08A175;
  --e-dark-orange: #EC6138;
  --e-light-yellow: #FAEDE5;
  --e-light-black: rgba(0, 0, 0, 0.5);

}